* {
    --marrom-claro: #e6c29e;
    --marrom-escuro: #d7b899;
    --azul-n1: #1976d2;
    --verde-n2: #388e3c;
    --vermelho-n3: #d32f2f;
    --roxo-n4: #7b1fa2;
    --preto-n5: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.05em;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.content-box {
    height: 70%;
    border: 1px solid black;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #4a752c;
}

.main-game{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background: #aad751;
}

.square {
    font-size: 1.2em;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.square:nth-child(odd) {
    background-color: #a2d149;
}

.square:hover {
    background-color: #bcebcc6f;
}

.bandeira{
    justify-content: center;
    align-items: center;
}

.flaged{}

.revealed_odd {
    background-color: #e6c29e;
}

.revealed_even {
    background-color: #d7b899;
}